# (c) qubex, xxx-man, kraminski

import /init.watchdog.rc

on early-init
    start ueventd

on init
    export PATH /sbin
    export LD_LIBRARY_PATH .:/sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /cache
    mkdir /logs
    mkdir /system
    mkdir /data
    mkdir /sdcard
    mkdir /sd-ext
    mkdir /internal_sd
    mkdir /external_sd
    mkdir /datadata
    mkdir /emmc
    mkdir /tmp
    mount /tmp /tmp tmpfs
	
    chown root shell /tmp
    chmod 0775 /tmp
	
    mount ext4 /dev/block/mmcblk0p10 /temp_data
    mkdir /temp_data/recovery_tmp 0775 root shell
    symlink /temp_data/recovery_tmp /tmp
        
on boot
    ifup lo
    hostname localhost
    domainname localdomain

    # USB settings to allow charging, but not to be declare as Fastboot Device
    setprop sys.usb.config charging
    class_start default
    class_start pre-core
    class_start core

    # reset counter watchdog at the end of system boot
    #write /sys/devices/virtual/misc/watchdog/counter "0"

    #write /sys/class/android_usb/android0/enable 0
    #write /sys/class/android_usb/android0/idVendor 8087
    #write /sys/class/android_usb/android0/idProduct 09f2
    #write /sys/class/android_usb/android0/functions mass_storage,adb
    #write /sys/class/android_usb/android0/enable 1

service ueventd /sbin/ueventd
    critical

service recovery /sbin/recovery

service adbd /sbin/adbd recovery
    disabled

service killservices /sbin/killservices.sh
    oneshot

# Always start adbd on userdebug and eng builds
on property:ro.debuggable=1
    #write /sys/class/android_usb/android0/enable 1
    #start adbd
    setprop service.adb.root 1

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1

	########################
on property:sys.storage.ums_enabled=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/functions adb,mass_storage
    write /sys/class/android_usb/android0/enable 1

on property:sys.storage.ums_enabled=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable ${service.adb.root}
		
	######################
on property:sys.usb.config=adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 8087
    write /sys/class/android_usb/android0/idProduct 09ef
    write /sys/class/android_usb/android0/iProduct "Android-Phone"
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1

# USB ACM configuration, with rndis and adb
on property:sys.usb.config=rndis,acm,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 8087
    write /sys/class/android_usb/android0/idProduct 09f8
    write /sys/class/android_usb/android0/iProduct "Android-Phone"
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1

on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19d2
    write /sys/class/android_usb/android0/idProduct 0363
    write /sys/class/android_usb/android0/iProduct "Android-Phone"
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mtp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19d2
    write /sys/class/android_usb/android0/idProduct 0287
    write /sys/class/android_usb/android0/bcdDevice 0101
    write /sys/class/android_usb/android0/iProduct "Android-Phone"
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=ptp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19d2
    write /sys/class/android_usb/android0/idProduct 0287
    write /sys/class/android_usb/android0/bcdDevice 0200
    write /sys/class/android_usb/android0/iProduct "Android-Phone"
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1

on property:sys.usb.config=mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19d2
    write /sys/class/android_usb/android0/idProduct 0120
    write /sys/class/android_usb/android0/bcdDevice 1000
    write /sys/class/android_usb/android0/iProduct "Android-Phone"
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}
	
# Used to set USB configuration at boot and to switch the configuration
# when changing the default configuration
on property:persist.sys.usb.config=*
    setprop sys.usb.config ${persist.sys.usb.config}

service remount /sbin/remount.sh
    oneshot